<!--shopping cart-->
                    <div class="cd-cart-container empty">
                        <a href="#0" class="cd-cart-trigger">
                             Cart
                            <ul class="count">
                                <!-- cart items count -->
                                <li>0</li>
                                <li>0</li>
                            </ul>
                            <!-- .count -->
                        </a>

                        <div class="cd-cart">
                            <div class="wrapper">
                                <header>
                                    <h2>Cart</h2>
                                    <span class="undo">Item removed. <a href="#0">Undo</a></span>
                                </header>

                                <div class="body">
                                    <ul>
                                        <!-- products added to the cart will be inserted here using JavaScript -->
                                    </ul>
                                </div>

                                <footer>
                                    <a class="checkout btn"><em>Checkout $<span>0</span></em></a>
                                </footer>
                            </div>
                        </div>
                        <!-- .cd-cart -->
                    </div>
                    <!-- cd-cart-container -->

                    <!--wishlist-->
                    <div class="cd-wl-container empty">
                        <a href="#0" class="cd-wl-trigger">
							Cart
							<ul class="count">
								<!-- cart items count -->
								<li>0</li>
								<li>0</li>
							</ul>
							<!-- .count -->
						</a>

                        <div class="cd-wl">
                            <div class="wrapper">
                                <header>
                                    <h2>My Wish List</h2>
                                    <span class="undo">Item removed. <a href="#0">Undo</a></span>
                                </header>

                                <div class="body">
                                    <ul>
                                        <!-- products added to the cart will be inserted here using JavaScript -->
                                    </ul>
                                </div>

                                <footer>
                                    <a href="#" class="checkout btn"><em>Add to Cart - $<span>0</span></em></a>
                                </footer>
                            </div>
                        </div>
                        <!-- .cd-wl -->
                    </div>
                    <!-- cd-wl-container -->