
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <%= render 'login/login'%>

            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <%= render 'registration/register'%>
        </div>
    </div>
</section><!--/form-->