<<<<<<< HEAD
<h1>Admin::Admin#delete</h1>
<p>Find me in app/views/admin/category/delete.html.erb</p>
=======
<h1>Admin::Category#delete</h1>
<p>Find me in app/views/admin/category/delete.html.erb</p>
>>>>>>> 848441ec1ddcee751fb194112b30a5dde167411e
