<div class='row'>
    <h1 class='text-center'>Admin Profile Page</h1>
</div>

<div id='container'>
    <div class= 'col-sm-3'>
        <div class='row'>
            <img src='/assets/admin_imgs/profiledefaultmale.png'>
        </div>

        <div class='row'>
            <ul>
                <li>
                    <a href="dummy.html">Upload Picture</a>
                </li>
                <li>
                    <a href="dummy.html">Edit Details</a>
                </li>
                <li>
                    <a href="dummy.html">Reset Password</a>
                </li>
            </ul>
        </div>

    </div>
</div>