<!--login form-->
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Login to your account</h2>
                    <form action="#">
                        <input id="userName" type="text" placeholder="Name" />
                        <input type="email" placeholder="Email Address" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <!--<input type="button" class="btn btn-default" id="loginBtn" value="Login" onclick="loginUser()">-->
                        <button class="btn btn-default" onclick="loginUser()">Login</button>
                    </form>
                </div>
            </div>
<!--/login form-->
